<div class="row">
    <div class="col-xs-3">
        {% if platform == 'redhat' %}
            <span class="label label-danger">redhat</span>
            <span class="label label-danger">oracle</span>
        {% endif %}
        {% if platform == 'centos' %}
            <span class="label label-danger">centos</span>
        {% endif %}
        {% if platform == 'ubuntu' %}
            <span class="label label-warning">ubuntu</span>
        {% endif %}
        {% if platform == 'solaris' %}
            <span class="label label-default">solaris</span>
        {% endif %}
        {% if platform == 'aix' %}
            <span class="label label-default">aix</span>
        {% endif %}
        {% if platform == 'suse' %}
            <span class="label label-success">suse</span>
        {% endif %}
        {% if platform == 'vmware' %}
            <span class="label label-primary">vmware</span>
        {% endif %}
        {% if 'windows' in platform %}
            <span class="label label-info">{{ platform }}</span>
        {% endif %}
        {% if platform == 'python' %}
            <span class="label label-default">python</span>
        {% endif %}
    </div>
    <div class="col-xs-9">
        {% if platform == 'vmware' %}
            {% if instructions.notes %}
                {% for note in instructions.notes %}
                    {{ note }}<br>
                {% endfor %}
            {% else %}
                <a href="{{ instructions.download_link }}" class="btn btn-mini">Download</a> the OVF and deploy it via VMware vSphere.
            {% endif %}
        {% elif platform == 'python-docs' %}
                <a href="{{ instructions.download_link }}" class="btn btn-mini">Download</a> and extact the documentation archive.
        {% else %}
            {% if instructions.command %}
                <input class="cmd" value="{{ instructions.command.replace("//", host_url) }}">
            {% elif instructions.download_link %}
                <a href="{{ instructions.download_link }}" class="btn btn-mini">Download</a> the installer and run it.
            {% else %}
                {{ instructions }}
            {% endif %}
        {% endif %}
    </div>
</div>
