<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Application Repository -- {{ index_name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap.vertical-tabs.min.css" rel="stylesheet">
        <link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/static/css/simple-sidebar.css" rel="stylesheet">
        <link href='/static/css/opensans.css' rel='stylesheet' type='text/css'>
        <link href="/static/css/apprepo.css" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">

            </script>
        <![endif]-->
        <link rel="shortcut icon" href="/static/img/favicon.ico">
    </head>
    <body>
        <header>
            <div class="header-inner">
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png">
                    <div>REPO</div></a>
                </div>
            </div>
        </header>
        <div class="header-push"></div>
        <div class="color-header"></div>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="nav-header" style="font-weight: 700">
                        Available packages
                    </li>
                    {% for package in packages %}
                        {% if not package.hidden %}
                        <li><a href="#{{ package.name }}">{{ package.product_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        </div>
                        <h1>Available packages</h1>
                        {% for package in packages %}
                            {% if not package.hidden %}
                                {% include "home_package.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="versions_modal" tabindex="-1" role="dialog" style="display: none;">
          <div class="modal-dialog" id="versions_modal_dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="versions_modal_title">Modal title</h4>
              </div>
              <div class="modal-body">
                <table class="table table-bordered table-hover download-links">
                    <thead>
                        <tr>
                            <th>version</th>
                            <th>last modified</th>
                            <th>platform</th>
                            <th>architecture</th>
                            <th>size</th>
                            <th>link</th>
                        </tr>
                    </thead>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <br><br>

        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>

            var PAGE_LENGTH = 7;

            $(function() {
                // Initialize versions datatable
                $(".download-links").dataTable({
                    orderFixed: [ 0, 'desc' ],
                    paging: true,
                    pageLength: PAGE_LENGTH,
                    lengthChange: false,
                    ordering: false,
                    processing: false,
                    info: false,
                    autoWidth: true
                });

                $('div.copylink i').tooltip()

                $('div.copylink i').click(function() {
                    $(this).tooltip('hide')
                              .attr('data-original-title', 'Copied!')
                              .tooltip('fixTitle')
                              .tooltip('toggle');
                    $(this).attr('data-original-title', 'Copy to Clipboard');
                });

                $('[data-toggle="tooltip"]').tooltip();
            });

            function humanFileSize(bytes, si) {
                // http://stackoverflow.com/questions/10420352/converting-file-size-in-bytes-to-human-readable
                var thresh = si ? 1000 : 1024;
                if(Math.abs(bytes) < thresh) {
                    return bytes + ' B';
                }
                var units = si
                    ? ['kB','MB','GB','TB','PB','EB','ZB','YB']
                    : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];
                var u = -1;
                do {
                    bytes /= thresh;
                    ++u;
                } while(Math.abs(bytes) >= thresh && u < units.length - 1);
                return bytes.toFixed(1)+' '+units[u];
            }

            function show_versions(title, url) {
                $.get(url, function(data) {
                    var table = $(".download-links").dataTable();
                    table.api().clear();
                    _.each(data, function(version) {
                        if (!version.hidden)
                            _.each(version.distributions, function(distro) {
                                if (!distro.hidden) {
                                    var link = '<a href="' + distro.filepath + '">download</a>';
                                    row = table.api().row.add([version.version, version.last_modified, distro.platform, distro.architecture, humanFileSize(distro.filesize, true), link], false).node();
                                }
                            });

                    });
                    table.api().draw();
                    $('#versions_modal_title').text(title);
                    $('#versions_modal').modal();
                });
            }

            // Set the size of the sidebar
            function resize_sidebar() {
                $('.sidebar-nav').height($(window).height() - 120);
            }
            resize_sidebar();
            $(window).on('resize', resize_sidebar);
            $.ajaxSetup({cache: false});

            // Make it easy to copy commands
            $(function() {
                $('.cmd')
                    .on('click', function() {
                        this.focus();
                        this.select();
                    })
                    .each(function() {
                        $(this).css('width', $(this).val().length * 8 + 10);
                    });
            });

            $('div.copylink').each(function() {
                $(this).find("i").click(function(event) {
                    event.stopPropagation();
                    $(this).parent().find('.cmd').select();
                    document.execCommand('copy');
                    window.getSelection().removeAllRanges();
                    return false;
                });
            });
        </script>
    </body>
</html>


