<div class="row-fluid">
    <div class="span3">
        {% if platform == 'redhat' %}
            <span class="label label-important">redhat</span>
            <span class="label label-important">oracle</span>
        {% endif %}
        {% if platform == 'centos' %}
            <span class="label label-important">centos</span>
        {% endif %}
        {% if platform == 'ubuntu' %}
            <span class="label label-warning">ubuntu</span>
        {% endif %}
        {% if platform == 'solaris' %}
            <span class="label label-default">solaris</span>
        {% endif %}
        {% if platform == 'aix' %}
            <span class="label label-default">aix</span>
        {% endif %}
        {% if platform == 'suse' %}
            <span class="label label-success">suse</span>
        {% endif %}
        {% if platform == 'vmware' %}
            <span class="label label-primary">vmware</span>
        {% endif %}
        {% if 'windows' in platform %}
            <span class="label label-info">{{ platform }}</span>
        {% endif %}
    </div>
    <div class="span9">
        {% if platform == 'vmware' %}
            {% if instructions.notes %}
                {% for note in instructions.notes %}
                    {{ note }}<br>
                {% endfor %}
            {% else %}
                <a href="{{ instructions.download_link }}" class="btn btn-mini">Download</a> the OVF and deploy it via VMware vSphere.
            {% endif %}
        {% else %}
            {% if instructions.command %}
                <code>{{ instructions.command.replace("//", host_url) }}</code>
            {% endif %}
            {% if instructions.download_link %}
                <a href="{{ instructions.download_link }}" class="btn btn-mini">Download</a> the installer and run it.
            {% endif %}
        {% endif %}
    </div>
</div>
