<hr id="{{ package.name }}">
<br>
<div class="row">
    <div class="col-xs-9">
        <h2>
            {{ package.product_name }}
            <span class="ver">{{ package.latest_version }}</span>
        </h2>
        {% if package.installation_instructions %}
        {% for platform, value in package.installation_instructions|dictsort %}
        {% if value.install %}
        <h3>Installation instructions</h3>
        {% break %}
        {% endif %}
        {% endfor %}
        {% for platform, value in package.installation_instructions|dictsort %}
            {% if value.install %}
            {% with instructions = value.install %}
                {% include "home_package_instructions.html" %}
            {% endwith %}
            {% endif %}
        {% endfor %}
        {% for platform, value in package.installation_instructions|dictsort %}
        {% if value.upgrade %}
        <h3>Upgrade instructions</h3>
        {% break %}
        {% endif %}
        {% endfor %}
        {% for platform, value in package.installation_instructions|dictsort %}
            {% if value.upgrade %}
            {% with instructions = value.upgrade %}
                {% include "home_package_instructions.html" %}
            {% endwith %}
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
<br>
{% if package.release_notes_url %}
<a href="{{ package.release_notes_url }}" target="_blank">Change log and user's guide</a>
<br>
{% endif %}
<a href="#" onclick="show_versions('{{ package.product_name }}', '{{ package.releases_uri }}'); return false;">
    Other versions and platforms &raquo;
</a>
