<hr id="{{ package.name }}">
<br>
<div class="row-fluid">
    <div class="span9">
        <h2>
            {{ package.name }}
            <span class="label ver">{{ package.latest_version }}</span>
        </h2>
        <h3>Installation instructions</h3>
        {% for platform, value in package.installation_instructions|dictsort %}
            {% with instructions = value.install %}
                {% include "home_package_instructions.html" %}
            {% endwith %}
        {% endfor %}
        <h3>Upgrade instructions</h3>
        {% for platform, value in package.installation_instructions|dictsort %}
            {% with instructions = value.upgrade %}
                {% include "home_package_instructions.html" %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
