h3 {
    font-size: 20px;
}

.table_wrapper {
    display: none;
}

.show-other {
    cursor: pointer;
}

.dataTables_length {
    float: right;
}

.dataTables_length select {
    width: auto;
    margin-top: 5px;
    padding: 3px;
}

.dataTables_filter {
    margin-left: 8px;
}

.dataTables_filter input {
    margin-top: 5px;
    padding: 3px;
}

.dataTables_paginate a {
    margin-right: 10px;
}

span.ver {
    position: relative;
    left: 30px;
    font-size: 0.7em;
    color: gray;
}

#versions_modal_dialog {
    width: 700px;
}

.cmd {
  padding: 0 4px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  border-radius: 3px;
  color: #d14;
  background-color: #f7f7f9 !important;
  border: 1px solid #e1e1e8;
  cursor: default !important;
}
